html {
  overflow-x: hidden;
}

td {
  white-space:pre-wrap;
}

.container {
  height: 100vh;
}

.loginFormContainer {
  width: 24rem;
}

.loginFormLegend {
  width: 14rem;
  background: #dee2e6;
}

.errorMessage {
  font-size: 12px;
  letter-spacing: 0.05rem;
  padding-left: 0.25rem;
}

.registrationFormContainer {
  width: 24rem;
}

.registrationFormLegend {
  width: 14rem;
  background: #dee2e6;
}

.errorMessage {
  font-size: 12px;
  letter-spacing: 0.05rem;
  padding-left: 0.25rem;
  color: red;
}

.mandatory {
  color: red;
}

.smallicon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.icon {
  width: 80px;
  height: 80px;
  display: inline-block;
}

label [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + .smallicon {
  cursor: pointer;
}

[type=radio]:checked + .smallicon {
  background-color: lightgray;
}

[type=radio] + .icon {
  cursor: pointer;
}

[type=radio]:checked + .icon {
  background-color: lightgray;
}

.container {
  height: 100vh
}

.message {
  bottom: 20vh
}

.cell {
  width: 80px;
  height: 80px;
}

.logs {
  height: 50vh;
  overflow-y: scroll;
}